---
import { getSortedCodeThemes } from "../lib/controlOptions";
import { sampleLanguages } from "../lib/sampleCode";

const sortedThemes = getSortedCodeThemes();
---

<div
  class="border-surface-300 bg-surface-100 dark:border-surface-700 dark:bg-surface-900 flex w-full flex-row gap-4 overflow-x-auto border-b px-4 py-2 text-sm whitespace-nowrap"
>
  <slot />
  <label class="flex items-center gap-2">
    <span>Theme:</span>
    <select
      id="ctrl-theme"
      class="border-surface-300 dark:border-surface-700 dark:bg-surface-900 min-h-9 min-w-24 rounded-md border bg-white px-2"
    >
      {
        sortedThemes.map((theme) => (
          <option value={theme.slug}>{theme.displayName}</option>
        ))
      }
    </select>
  </label>
  <label class="flex items-center gap-2">
    <span>Language:</span>
    <select
      id="ctrl-language"
      class="border-surface-300 dark:border-surface-700 dark:bg-surface-900 min-h-9 min-w-28 rounded-md border bg-white px-2"
    >
      {
        sampleLanguages.map((language) => (
          <option value={language.id}>{language.displayName}</option>
        ))
      }
    </select>
  </label>
  <label class="flex items-center gap-2">
    <span>Font Size:</span>
    <input
      id="ctrl-font-size-number"
      class="border-surface-300 dark:border-surface-700 dark:bg-surface-900 min-h-9 w-16 rounded-md border bg-white px-2"
      type="number"
      min="8"
      max="36"
    />
    <input
      id="ctrl-font-size-range"
      class="accent-primary-600 w-40 lg:w-60"
      type="range"
      max="36"
      min="8"
      step="1"
    />
  </label>
  <label class="flex items-center gap-2">
    <input
      id="ctrl-ligatures"
      class="accent-primary-600 h-4 w-4"
      type="checkbox"
    />
    <span>Font Ligatures</span>
  </label>
  <label class="flex items-center gap-2">
    <input
      id="ctrl-opentype"
      class="accent-primary-600 h-4 w-4"
      type="checkbox"
    />
    <span>OpenType Features</span>
  </label>
</div>

<script>
  import { initControls } from "../scripts/controls";
  document.addEventListener("astro:page-load", initControls);
</script>
