---
import type { CodingFont } from "../lib/codingFonts";
import { getFontStyle } from "../lib/fontFeatures";

type Props = {
  font: CodingFont;
  italic?: boolean;
};

const { font, italic = false } = Astro.props;

const specimen = [
  "0oO | Ll1Iti ,.:; () [] {} <> * ??. !!",
  "\"\" '' != == === if 0123456789 %@ && ||",
  "// /* */ << >> <= >= => -> . ++ -- ^+-",
  "Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm",
  "Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz",
];
---

<div
  style={`${getFontStyle(font)}; ${italic ? "font-style: italic;" : ""}`}
  class="border-surface-300 dark:border-surface-700 dark:bg-surface-900 relative flex min-h-40 flex-col items-center justify-center overflow-hidden rounded-lg border bg-white p-4 whitespace-nowrap"
>
  <div
    class="bg-surface-100 dark:bg-surface-800 absolute right-2 bottom-2 rounded px-2 py-1 font-mono text-xs"
  >
    {italic ? "italic" : "regular"}
  </div>
  {specimen.map((line) => <span>{line}</span>)}
</div>
